.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  width: 100%;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .footer>div {
    margin-bottom: 10px;
    width: 100%;
    /* Full width for smaller screens */
    max-width: 500px;
    /* Maximum width for elements */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer img {
    width: 80px;
    /* Smaller image size */
  }

  .footer h6,
  .footer a,
  .subscribeInput,
  .subscribeButton {
    font-size: 0.9em;
    /* Smaller font size */
  }

  .subscribeInput,
  .subscribeButton {
    width: 100%;
    /* Full width for input and button */
    margin: 5px 0;
    /* Adjust margins */
  }
}


@media (max-width: 480px) {

  .footer h6,
  .footer a {
    font-size: 0.8em;
  }

  .footer img {
    width: 60px;
    margin-bottom: 10px;
  }

  .subscribeButton {
    max-width: 300px;
    margin: auto;
  }

  .subscribeInput {
    max-width: 300px;
    margin: auto;
  }
}


.subscribeButton {
  background-color: #32CD32;
  /* Neon green button */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.subscribeInput {
  padding: 10px;
  margin-right: 10px;
  border: 2px solid #32CD32;
  /* Neon green border */
  border-radius: 5px;
}

.footer a {
  color: #32CD32;
  /* Neon green links */
}

.footer a:hover {
  text-decoration: underline;
}

.footer img {
  max-width: 100px;
  height: auto;
}

.footer a:hover {
  text-decoration: underline;
}

.footer a {
  color: #32cd32;
  margin-right: 10px;
}

.footerContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footerSection {
  flex: 1;
  min-width: 200px;
  padding: 10px;
  text-align: center;
}

.footerLogo {
  text-align: left;
  max-height: 50px;
}

.footerLinks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.footerLink {
  color: #39ff14;
  text-decoration: none;
  padding: 0 10px;
}

.footerLink:hover {
  text-decoration: underline;
}

.footerBottom {
  margin-top: 20px;
  font-size: 0.753em;
  color: #aaa;

}

.footerLogo {
  max-height: 50px;
  text-align: left;
}