.contentSection {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
    color: hwb(0 78% 2%);
    font-weight: bolder;
    text-shadow: 2px 2px 4px #171212;
    background-color: rgba(0, 0, 0, 0.5);  /* Black overlay with 50% opacity */
   
    
}

.contentSectionSpeech {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
    color: hwb(0 78% 2%);
    font-weight: bolder;
    text-shadow: 2px 2px 4px #171212;
    background-color: rgba(0, 0, 0, 0.5); 
    border: 2px solid white;
  
}

@media (max-width: 768px) {
    .contentSection, .contentSectionSpeech {
        font-size: 16px; /* Smaller font size for mobile */
    }
}

.contentSection, .contentSectionSpeech {
    box-sizing: border-box;
    /* Rest of your styles */
}


@media (max-width: 768px) {
    .contentSection, .contentSectionSpeech {
        padding: 10px; /* Reduced padding on smaller screens */
    }
}


.contentHeader {
    font-size: 32px;
    margin-block-end: 20px;
}

.paragraph {
    text-indent: 2em;
}

.blockquote {
    border-inline-end: 4px solid #646cff;
    padding-inline-end: 20px;
    font-style: italic;
}

.inlineLink {
    display: inline;
    color: #00aaff;
    text-decoration: underline;
}

.inlineLink:hover {
    color: #005577;
}

.freedomOfSpeech {
padding: 40px;
  
}

.freedomParagraph {
    text-indent: 2em;
    font-size: 18px;
    line-height: 1.6;
    padding: 20px;
}

.freedomFooter {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
    color: hwb(0 78% 2%);
    font-weight: bolder;
    text-shadow: 2px 2px 4px #171212;
    background-color: rgba(0, 0, 0, 0.5);  
    
    border: 2px solid white;
}

@media (max-width: 768px) {
    .contentSectionSpeech {
        max-width: 90%;
        padding: 10px;
    }
}