/* contactPage.module.css */

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

.formGroup {
    margin-bottom: 1rem;
}

.formLabel {
    font-size: 22px;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.6);
    margin-bottom: 0.5rem;
    color: #39ff14;
    font-weight: bolder;
}

.formInput,
.formTextarea {
    padding: 0.5rem;
    border: 1px solid #39ff14;
    border-radius: 45px;
}

.submitButton {
    padding: 0.5rem 1rem;
    background-color: #39ff14;
    color: white;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    font-size: 22px;
    width: 100px;
    align-self: center;
    box-shadow: 0 4px 4px;
}

.submitButton:hover {
    background-color: #39ff14;
}

.errorMessage {
    color: red;
    font-size: 0.8rem;
    margin: 0.5rem 0;
}
